@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes super-float {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-40px) rotate(0deg); }
}

.animate-super-float {
  animation: super-float 20s ease-in-out infinite;
}

